#home-div{
    margin-top: 10%;
    width: 50%;
    margin-left: 20%;
    background-color: rgb(99, 101, 173);
    padding: 20px;
}

#home-heading{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
}

#button-div{
    text-align: center;
    
}

.buttons{
    height: 40px;
    width: 80px;
    background-color: rgb(81, 121, 121);
}

#to-continue{
    color: white;
    margin-left: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#slash{
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

.buttons a{
   color: whitesmoke;
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
}

#dashboard-div {
    text-align: center;
}

#dashboard-div span {
    color: white;
    font-size: 20px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons-1{
    height: 40px;
    width: 120px;
    background-color: rgb(81, 121, 121);
}

.buttons-1 a {
    color: whitesmoke;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}